/**
 * DetailOptions
 * 2022-07-01 15:03:34
 */
.modal {
  //background-color: white;
}

.modalItem {
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

.border {
  border-radius: 13px;
  background-color: white;
  align-items: center;
}

.scroll {
  border-radius: 13px;
  background-color: white;
}
