/**
 * Styles for Component.tsx
 * @created 2022-05-24 09:39:26
 * @author maivtt14 <vungoc2901@gmail.com>
 */
//Content
.width {
  max-width: 70%;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 8px;
}

//Files
.file {
  margin-left: -6px;
  margin-right: -6px;
}

.textUnderline {
  text-decoration-line: underline;
}
